<template>
  <div>
    <!-- หัวกระดาษเพิ่มเอกสาร -->
    <div
      class="text-h4 q-mt-md"
      align="center"
      v-if="this.$route.name == 'documentadd'"
    >{{docLabelTitle}}</div>
    <div
      class="text-h4 q-mt-md"
      align="center"
      v-if="this.$route.name == 'documentedit'"
    >{{this.docLabelTitle = "แก้ไขเอกสาร"}}</div>
    <!-- เพิ่มเอกสาร -->
    <div align="center">
      <div class="q-mt-md" style="width:700px">
        <!-- เลขที่เอกสาร -->
        <div>
          <q-input
            dark
            label="เลขที่เอกสาร"
            v-model="addDataDoc.docNumber"
            outlined
            color="grey-4"
            style="width:700px"
          />
        </div>
        <!-- เรื่องเอกสาร -->
        <div class="q-my-md">
          <q-input
            dark
            label="เรื่อง"
            v-model="addDataDoc.docName"
            outlined
            color="grey-4"
            style="width:700px"
          />
        </div>
        <!-- แฟ้มเอกสาร -->
        <div class="row items-center">
          <div align="left">
            <q-select
              dark
              label="แฟ้มเอกสาร"
              v-model="addDataDoc.docFolder"
              :options="showDataFolder"
              map-options
              emit-value
              outlined
              color="grey-4"
              style="width:400px"
            />
          </div>
          <div class="q-ml-md">
            <q-btn
              round
              size="16px"
              class="cursor-pointer"
              @click="openManageFolder()"
              color="secondary"
              push
              icon="fas fa-pencil-alt"
            />
          </div>
        </div>
        <!-- วันที่ออกเอกสาร -->
        <div align="left" class="q-mt-md q-mb-sm">
          <div style="max-width: 400px">
            <q-input
              dark
              label="วันที่ออกเอกสาร"
              v-model="addDataDoc.docDate"
              color="grey-4"
              outlined
            />
            <div class="text-grey-5 text-caption">*ตัวอย่าง 27/1/2020</div>
          </div>
        </div>
        <!-- เลือกไฟล์ -->
        <div align="left" class="q-mb-md">
          <div class="text-grey-5">เลือกไฟล์เอกสาร</div>
          <q-input
            dark
            type="file"
            accept="application/pdf"
            v-model="docFile"
            outlined
            style="width:400px"
            color="grey-4"
          />
        </div>

        <!-- ปุ่มกดบันทึก/ยกเลิก -->
        <div class="row justify-center">
          <div class="q-ma-md">
            <q-btn
              @click="documentPage()"
              label="ยกเลิก"
              size="16px"
              style="width:140px"
              color="grey-4"
              text-color="black"
            />
          </div>
          <div class="q-ma-md">
            <q-btn
              @click="saveDoc()"
              label="บันทึก"
              size="16px"
              style="width:140px"
              color="secondary"
              text-color="white"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- ------------------Dialog------------------------ -->
    <!-- แฟ้มเอกสาร -->
    <q-dialog v-model="manageFolder" persistent>
      <q-card dark style="min-width:700px" position="fixed-center">
        <q-card-section class="row justify-center">
          <div class="row justify-between" style="width:650px">
            <div class="col-2"></div>
            <div class="text-h4">แฟ้มเอกสาร</div>
            <div class="q-ml-md">
              <!-- ปุ่มเพิ่มแฟ้มเอกสาร -->
              <q-btn
                round
                class="cursor-pointer"
                @click="addDocFolder()"
                color="secondary"
                icon="fas fa-plus"
              />
            </div>
          </div>
          <div class="q-pa-md">
            <q-table
              dark
              style="width:650px"
              :data="showDataFolder"
              :pagination.sync="pagination"
              :columns="columns"
              row-key="name"
            >
              <template v-slot:body="props">
                <q-tr :props="props">
                  <q-td key="number" :props="props">{{ props.row.folderNumber }}</q-td>
                  <q-td key="folderName" :props="props">
                    <div>{{ props.row.folderName }}</div>
                  </q-td>
                  <!-- ปุ่มลบแฟ้มเอกสาร -->
                  <q-td key="delete" :props="props">
                    <div>
                      <q-icon
                        class="cursor-pointer"
                        @click="deleteDocFolder(props.row.key)"
                        color="secondary"
                        size="1.5em"
                        name="fas fa-trash-alt"
                      />
                    </div>
                  </q-td>
                  <!-- ปุ่มแก้ไขแฟ้มเอกสาร -->
                  <q-td key="edit" :props="props">
                    <div>
                      <q-icon
                        class="cursor-pointer"
                        @click="editDocFolder(props.row.key)"
                        color="secondary"
                        size="1.5em"
                        name="fas fa-edit"
                      />
                    </div>
                  </q-td>
                </q-tr>
              </template>
            </q-table>
          </div>
        </q-card-section>
        <q-card-actions align="center">
          <!-- ปุ่มปิดแฟ้มเอกสาร -->
          <q-btn
            class="q-mb-md"
            color="grey-4"
            text-color="black"
            label="ปิด"
            style="width:140px"
            size="16px"
            v-close-popup
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <!-- เพิ่มแฟ้มเอกสาร -->
    <q-dialog v-model="addFolder" persistent>
      <q-card style="min-width:700px" dark position="fixed-center">
        <q-card-section class="row justify-center">
          <div class="justify-center" style="width:500px">
            <!-- หัวกระดาษเพิ่มแฟ้มเอกสาร -->
            <div class="text-h4 q-mt-md" align="center">{{folderLabelTitle}}</div>

            <div class="q-ma-md">
              <q-input
                dark
                type="number"
                outlined
                label="ลำดับ"
                v-model="addDataFolder.folderNumber"
                color="grey-4"
              />
            </div>
            <div class="q-ma-md">
              <q-input
                dark
                outlined
                label="ชื่อแฟ้มเอกสาร"
                v-model="addDataFolder.folderName"
                color="grey-4"
              />
            </div>
          </div>
        </q-card-section>
        <q-card-actions align="center">
          <div class="row justify-center">
            <!-- ปุ่มยกเลิกการเพิ่มแฟ้มเอกสาร -->
            <div class="q-ma-md">
              <q-btn
                v-close-popup
                label="ยกเลิก"
                size="16px"
                style="width:140px"
                color="grey-4"
                text-color="black"
              />
            </div>
            <!-- ปุ่มบันทึกแฟ้มเอกสาร -->
            <div class="q-ma-md">
              <q-btn
                @click="saveFolder()"
                label="บันทึก"
                size="16px"
                style="width:140px"
                color="secondary"
                text-color="white"
              />
            </div>
          </div>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>


<script>
import { db } from "../router/index.js";
import { st } from "../router/index.js";
export default {
  data() {
    return {
      pagination: {
        rowsPerPage: 0 //จำนวนหน้าสำหรับคำศัพท์เสริม
      },
      ShowDataEdit: [],
      showDataFolder: "", //ตัวแปลแสดงข้อมูลแฟ้มเอกสาร
      editKey: "", // เก็บคีย์ใช้กับหน้าแก้ไขแฟ้มเอกสาร
      editMode: false, // ใช้เพื่อใ้รู้ว่า เข้าหน้าแก้ไข
      docLabelTitle: "เพิ่มเอกสาร", // Title หัวกระดาษเพิ่มเอกสาร
      folderLabelTitle: "เพิ่มแฟ้มเอกสาร", // Title หัวกระดาษเพิ่มแฟ้มเอกสาร
      //v-model เพิ่มเอกสาร
      addDataDoc: {
        docNumber: "",
        docName: "",
        docFolder: "",
        docDate: "",
        docSave: "",
        docFile: "",
        docTime: "",
        docMonth: "",
        docYear: ""
      },
      docFile: "",

      //v-model เพิ่มแฟ้มเอกสารใหม่
      addDataFolder: {
        folderNumber: "",
        folderName: ""
      },
      docFolderSelect: ["test1", "test2", "teset3", "test4", "test5"], //ตัวเลือกแฟ้มเอกสาร
      manageFolder: false, //เปิดหน้าแฟ้มเอกสาร
      addFolder: false, //เปิดหน้าเพิ่มแฟ้มเอกสาร
      // คอลัมตารางแฟ้มเอกสาร
      columns: [
        {
          name: "number",
          required: true,
          label: "ลำดับ",
          align: "left",
          field: row => row.name,
          format: val => `${val}`,
          sortable: true,
          sort: (a, b) => parseInt(a, 10) - parseInt(b, 10)
        },
        {
          name: "folderName",
          align: "left",
          label: "ชื่อแฟ้มเอกสาร",
          field: "folderName",
          sortable: true,
          sort: (a, b) => parseInt(a, 10) - parseInt(b, 10)
        },

        {
          name: "delete",
          label: "ลบ",
          field: "delete",
          style: "width:100px",
          align: "center"
        },
        {
          name: "edit",
          label: "แก้ไข",
          field: "edit",
          style: "width:100px",
          align: "center"
        }
      ]
    };
  },
  methods: {
    // โหลดข้อมูลแก้ไขเอกสาร
    loadDataEdit() {
      console.clear();
      db.collection("document_db")
        .doc(this.$route.params.key)
        .get()
        .then(data => {
          this.addDataDoc = data.data(); //เรียกข้อมูลขึ้นมาโชว์แก้ไข
        });
    },
    // โหลดข้อมูลแฟ้มข้อมูล
    loadDocumentFolder() {
      let dataFinal = [];
      db.collection("document_folder")
        .get()
        .then(doc => {
          doc.forEach(element => {
            let dataKey = {
              key: element.id,
              label: element.data().folderName,
              value: element.id
            };
            dataFinal.push({ ...element.data(), ...dataKey });
          });
          dataFinal.sort((a, b) => {
            return a.folderNumber - b.folderNumber;
          });

          this.showDataFolder = dataFinal;
        });
    },

    // ----------หน้าเพิ่มเอกสาร---------------
    // ปุ่มยกเลิกเอกสาร
    documentPage() {
      this.$router.push("/document");
    },
    // ปุ่มบันทึกเอกสาร
    async saveDoc() {
      // เช็คลืมใส่รหัสเอกสาร
      if (this.addDataDoc.docNumber == "") {
        this.notifyRed("กรุณากรอกรหัสเอกสาร");
        return;
      }
      // เช็คลืมใส่ชื่อเรื่อง
      if (this.addDataDoc.docName == "") {
        this.notifyRed("กรุณากรอกชื่อเรื่อง");
        return;
      }
      // เช็คลืมเลือกไฟล์เอกสาร
      if (this.docFile == "") {
        this.notifyRed("กรุณาเลือกไฟล์เอกสาร");
        return;
      }
      if (this.docFile[0].type != "application/pdf") {
        this.notifyRed("กรุณาเลือกเฉพาะไฟล์ PDF");
        return;
      }
      // เช็ครหัสซ้ำ
      let checkData = await db
        .collection("document_db")
        .where("docNumber", "==", this.addDataDoc.docNumber)
        .get();
      if (this.$route.name == "documentadd") {
        if (checkData.size > 0) {
          this.notifyRed("รหัสเอกสารซ้ำ");
          return;
        }
        var date = new Date();
        var time = new Date();
        let fullTime = time.getHours() + ":" + time.getMinutes();
        this.addDataDoc.docTime = fullTime;
        let fullDate =
          date.getDate() +
          "/" +
          (date.getMonth() + 1) +
          "/" +
          date.getFullYear();
        this.addDataDoc.docSave = fullDate;
        this.addDataDoc.docMonth = this.addDataDoc.docSave.split("/")[1];
        this.addDataDoc.docYear = this.addDataDoc.docSave.split("/")[2];

        this.loadingShow();
        // เก็บไฟล์เข้า Storage แล้ว get URL ไปเก็บที่ Database
        st.child("/img/" + this.docFile[0].name)
          .put(this.docFile[0])
          .then(res => {
            res.ref.getDownloadURL().then(url => {
              this.addDataDoc.docFile = url;

              db.collection("document_db")
                .add(this.addDataDoc)
                .then(() => {
                  let mSave = this.addDataDoc.docSave.split("/")[1];
                  let ySave = this.addDataDoc.docSave.split("/")[2];
                  db.collection("log").add({
                    docSave: this.addDataDoc.docSave,
                    docNumber: this.addDataDoc.docNumber,
                    docName: this.addDataDoc.docName,
                    docTime: this.addDataDoc.docTime,
                    status: "add",
                    by:
                      this.$q.localStorage.getItem("nameOfUser").name +
                      " " +
                      this.$q.localStorage.getItem("nameOfUser").surname,
                    docMonth: mSave,
                    docYear: ySave
                  });
                  this.notifyGreen("บันทึกข้อมูลเรียบร้อย");
                  this.loadingHide();
                  this.$router.push("/document");
                });
            });
          });
      } else if (this.$route.name == "documentedit") {
        var date = new Date();
        var time = new Date();
        let fullTime = time.getHours() + ":" + time.getMinutes();
        this.addDataDoc.docTime = fullTime;
        let fullDate =
          date.getDate() +
          "/" +
          (date.getMonth() + 1) +
          "/" +
          date.getFullYear();
        this.addDataDoc.docSave = fullDate;
        this.addDataDoc.docMonth = this.addDataDoc.docSave.split("/")[1];
        this.addDataDoc.docYear = this.addDataDoc.docSave.split("/")[2];
        this.loadingShow();

        st.child("/img/" + this.docFile[0].name)
          .put(this.docFile[0])
          .then(res => {
            res.ref.getDownloadURL().then(url => {
              this.addDataDoc.docFile = url;

              db.collection("document_db")
                .doc(this.$route.params.key)
                .update(this.addDataDoc)
                .then(() => {
                  let mSave = this.addDataDoc.docSave.split("/")[1];
                  let ySave = this.addDataDoc.docSave.split("/")[2];
                  db.collection("log").add({
                    docSave: this.addDataDoc.docSave,
                    docNumber: this.addDataDoc.docNumber,
                    docName: this.addDataDoc.docName,
                    docTime: this.addDataDoc.docTime,
                    status: "edit",
                    by:
                      this.$q.localStorage.getItem("nameOfUser").name +
                      " " +
                      this.$q.localStorage.getItem("nameOfUser").surname,
                    docMonth: mSave,
                    docYear: ySave
                  });
                  this.notifyGreen("บันทึกข้อมูลเรียบร้อย");
                  this.loadingHide();
                  this.$router.push("/document");
                });
            });
          });
      }
    },
    // ปุ่มเข้าหน้าจัดการแฟ้มเอกสาร
    openManageFolder() {
      this.manageFolder = true;
    },

    // ----------หน้าแฟ้มเอกสาร------------
    // ปุ่มเพิ่มแฟ้มเอกสาร
    addDocFolder() {
      this.addDataFolder.folderNumber = "";
      this.addDataFolder.folderName = "";
      this.folderLabelTitle = "เพิ่มแฟ้มเอกสาร";
      this.editMode = false;
      this.addFolder = true;
    },
    // ลบแฟ้มเอกสาร
    deleteDocFolder(key) {
      this.$q
        .dialog({
          title: "คุณต้องการลบข้อมูลนี้ใช่หรือไม่",
          dark: true,
          cancel: "ยกเลิก",
          ok: "ตกลง"
        })
        .onOk(() => {
          db.collection("document_folder")
            .doc(key)
            .delete()
            .then(() => {
              this.notifyGreen("ลบข้อมูลเรียบร้อยแล้ว");
              this.loadDocumentFolder();
            });
        });
    },
    // แก้ไขแฟ้มเอกสาร
    editDocFolder(key) {
      this.folderLabelTitle = "แก้ไขแฟ้มเอกสาร";
      this.editMode = true;

      this.editKey = key;
      console.log(this.editKey);
      db.collection("document_folder")
        .doc(this.editKey)
        .get()
        .then(data => {
          console.log(data.data());
          this.addDataFolder = data.data();
          this.addFolder = true;
        });
    },

    // ----------หน้าเพิ่มแฟ้มเอกสารใหม่------------
    // ปุ่มบันทึกแฟ้มเอกสาร
    saveFolder() {
      this.loadingShow();
      if (this.editMode == false) {
        db.collection("document_folder")
          .add(this.addDataFolder)
          .then(() => {
            this.notifyGreen("บันทึกข้อมูลเรียบร้อย");
            this.addFolder = false;
            this.loadDocumentFolder();
            this.loadingHide();
          });
      } else {
        db.collection("document_folder")
          .doc(this.editKey)
          .set(this.addDataFolder)
          .then(() => {
            this.notifyGreen("บันทึกข้อมูลเรียบร้อย");
            this.loadDocumentFolder();
            this.loadingHide();
            this.addFolder = false;
          });
      }
    }
  },
  mounted() {
    this.loadDocumentFolder();
    if (this.$route.name == "documentedit") this.loadDataEdit();
  }
};
</script>

<style lang="scss" scoped>
</style>