<template>
  <div>
    <!-- ส่วนหัว คลังเอกสาร -->
    <div class="row items-center justify-center">
      <div class="text-h4 q-mt-md">คลังเอกสาร</div>
    </div>
    <!-- เมนูค้นหา -->
    <div class="row justify-between items-center q-mt-md">
      <div class="row">
        <div class="q-ml-sm">
          <q-select
            outlined
            color="grey-5"
            class="q-pl-sm"
            dark
            emit-value
            map-options
            style="width:180px"
            v-model="docFolder"
            :options="docFolderSelect"
            label="แฟ้มเอกสาร"
          />
        </div>
        <div class="q-m-md">
          <q-select
            outlined
            color="grey-5"
            class="q-pl-sm"
            dark
            style="width:180px"
            v-model="month"
            emit-value
            map-options
            :options="monthSelect"
            label="เดือน"
          />
        </div>
        <div class="q-m-md">
          <q-select
            outlined
            color="grey-5"
            class="q-pl-sm"
            dark
            emit-value
            map-options
            style="width:180px"
            v-model="year"
            :options="yearSelect"
            label="ปี"
          />
        </div>

        <div class="q-ml-sm">
          <q-btn
            @click="loadDocument_db()"
            color="secondary"
            style="width:80px;height:55px"
            label="ค้นหา"
          />
        </div>
      </div>
      <div v-if="userType != 'user'" class="q-mr-md">
        <q-btn round class="cursor-pointer" @click="addDoc()" color="secondary" icon="fas fa-plus" />
      </div>
    </div>
    <!-- ตารางข้อมูล -->
    <div class="q-ma-md">
      <q-table
        dark
        class="text-grey-4 text-body1"
        :data="showDataDocument"
        :pagination.sync="pagination"
        :columns="columns"
        row-key="name"
      >
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="docSave" :props="props" style="vertical-align:top">{{ props.row.docSave}}</q-td>
            <q-td key="docDate" :props="props" style="vertical-align:top">
              <div>{{ props.row.docDate }}</div>
            </q-td>
            <q-td key="docNumber" :props="props" style="vertical-align:top">
              <div>{{ props.row.docNumber }}</div>
            </q-td>
            <q-td key="docName" :props="props">
              <span>{{ props.row.docName }}</span>
              <br />
              <span v-if=" props.row.docFolder !=''">
                แฟ้มเอกสาร:
                {{ docFolderSelect.filter(x => {
                return x.value == props.row.docFolder
                })[0].label
                }}
              </span>
              <span v-else>แฟ้มเอกสาร: ไม่ได้ระบุแฟ้มเอกสาร</span>
              <br />
            </q-td>
            <q-td key="delete" :props="props" style="vertical-align:top">
              <div v-if="userType == 'user'">-</div>
              <div v-if="userType != 'user'">
                <q-icon
                  class="cursor-pointer"
                  @click="deleteDoc(props.row.key,props.row.docName,props.row.docNumber)"
                  color="teal-"
                  size="1.5em"
                  name="fas fa-trash-alt"
                />
              </div>
            </q-td>
            <q-td key="edit" :props="props" style="vertical-align:top">
              <!-- {{this.userMain.name}} -->
              <div v-if="userType == 'user'">-</div>
              <div v-if="userType != 'user'">
                <q-icon
                  class="cursor-pointer"
                  @click="editDoc(props.row.key)"
                  color="teal-"
                  size="1.5em"
                  name="fas fa-edit"
                />
              </div>
            </q-td>
            <q-td key="print" :props="props" style="vertical-align:top">
              <div>
                <a
                  target="__blank"
                  :href="props.row.docFile"
                  style="text-decoration:none"
                  class="text-grey-4"
                >
                  <q-icon class="cursor-pointer" color="teal-" size="1.5em" name="fas fa-print" />
                </a>
                <!-- </q-btn> -->
              </div>
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </div>
  </div>
</template>

<script>
import { db } from "../router/index.js";
import { st } from "../router/index.js";
export default {
  data() {
    return {
      pagination: {
        rowsPerPage: 20 //จำนวนหน้าสำหรับคำศัพท์เสริม
      },
      month: "", //เก็บข้อมูลเดือน
      year: "",
      showDataDocument: [],
      docFolder: "", //เก็บข้อมูลแฟ้มเอกสาร
      docFolderSelect: [], //เลือกแฟ้มเอกสาร
      userType: this.$q.localStorage.getItem("nameOfUser").typeUser,

      search: "", //ค้นหาเอกสาร

      deleteDataDoc: {
        docSave: "",
        docName: "",
        docNumber: "",
        docTime: "",
        docMonth: "",
        docYear: ""
      },

      columns: [
        {
          name: "docSave",
          required: true,
          label: "วันที่จัดเก็บเอกสาร",
          align: "left",
          style: "width:140px",
          field: row => row.name,
          format: val => `${val}`,
          sortable: true,
          sort: (a, b) => parseInt(a, 10) - parseInt(b, 10)
        },
        {
          name: "docDate",
          align: "left",
          style: "width:140px",
          label: "วันที่ออกเอกสาร",
          field: "docDate",
          sortable: true,
          sort: (a, b) => parseInt(a, 10) - parseInt(b, 10)
        },
        {
          name: "docNumber",
          align: "left",
          style: "width:140px",
          label: "เลขที่เอกสาร",
          field: "docNumber",
          sortable: true
        },
        {
          name: "docName",
          align: "left",
          style: "width:700px",
          label: "เรื่อง",
          field: "docName",
          sortable: true
        },
        {
          name: "delete",
          label: "ลบ",
          field: "delete",
          style: "width:50px",
          align: "center"
        },
        {
          name: "edit",
          label: "แก้ไข",
          field: "edit",
          style: "width:50px",
          align: "center"
        },
        {
          name: "print",
          label: "เปิด",
          field: "print",
          style: "width:50px",
          align: "center"
        }
      ]
    };
  },
  methods: {
    //โหลดเดือนและปี
    loadmonthAndYear() {
      let month = new Date();
      let fullMonth = month.getMonth() + 1 + "/" + month.getFullYear();
      this.month = fullMonth.split("/")[0];
      this.year = fullMonth.split("/")[1];
    },
    //โหลดแฟ้มเอกสาร
    loadDocument_folder() {
      this.docFolderSelect = [{ label: "ทั้งหมด", value: "0" }];
      db.collection("document_folder")
        .get()
        .then(doc => {
          doc.forEach(element => {
            let dataKey = {
              label: element.data().folderName,
              value: element.id
            };
            this.docFolderSelect.push(dataKey);
          });
          this.docFolder = "0";
          this.loadDocument_db();
        });
    },
    // โหลดข้อมูลคลังเอกสาร
    loadDocument_db() {
      this.showDataDocument = [];
      let db1 = db.collection("document_db");

      if (this.docFolder != "0") {
        db1 = db1.where("docFolder", "==", this.docFolder);
      }
      if (this.month != "0") {
        db1 = db1.where("docMonth", "==", this.month);
      }

      if (this.year != "0") {
        db1 = db1.where("docYear", "==", this.year);
      }

      db1.get().then(doc => {
        doc.forEach(element => {
          let dataKey = {
            key: element.id
          };
          let dataFinal = { ...element.data(), ...dataKey };
          this.showDataDocument.push(dataFinal);
          this.showDataDocument.sort((a, b) => {
            return a.docSave > b.docSave ? 1 : -1;
          });
        });
      });
    },
    // ไปหน้าเพิ่มเอกสาร
    addDoc() {
      this.$router.push("/documentadd");
    },
    // ลบเอสาร
    deleteDoc(key, name, number) {
      this.$q
        .dialog({
          title: "คุณต้องการลบข้อมูลนี้ใช่หรือไม่",
          dark: true,
          cancel: "ยกเลิก",
          ok: "ตกลง"
        })
        .onOk(() => {
          var date = new Date();
          var time = new Date();
          let fullTime = time.getHours() + ":" + time.getMinutes();
          this.deleteDataDoc.docTime = fullTime;
          let fullDate =
            date.getDate() +
            "/" +
            (date.getMonth() + 1) +
            "/" +
            date.getFullYear();
          this.deleteDataDoc.docSave = fullDate;
          this.deleteDataDoc.docMonth = this.deleteDataDoc.docSave.split(
            "/"
          )[1];
          this.deleteDataDoc.docYear = this.deleteDataDoc.docSave.split("/")[2];
          let mSave = this.deleteDataDoc.docSave.split("/")[1];
          let ySave = this.deleteDataDoc.docSave.split("/")[2];
          //สร้าง collection ใหม่ โดยไม่ต้องไปสร้างที่ firebase
          db.collection("log")
            .add({
              docSave: this.deleteDataDoc.docSave,
              docNumber: number,
              docName: name,
              docTime: fullTime,
              status: "delete",
              by:
                this.$q.localStorage.getItem("nameOfUser").name +
                " " +
                this.$q.localStorage.getItem("nameOfUser").surname,
              docMonth: mSave,
              docYear: ySave
            })
            .then(() => {
              db.collection("document_db")
                .doc(key)
                .delete()
                .then(() => {
                  this.notifyGreen("ลบข้อมูลเรียบร้อยแล้ว");
                  this.loadDocument_db();
                });
            });
        });
    },
    // ไปหน้าแก้ไขเอกสาร
    editDoc(key) {
      this.$router.push("/documentedit/" + key);
    }
  },
  mounted() {
    this.loadDocument_folder();
    this.loadmonthAndYear();
  }
};
</script>

<style lang="scss" scoped>
</style>

<i class="fas fa-users"></i>
<i class="fas fa-user-alt"></i>
<i class="fas fa-plus-circle"></i>
<i class="fas fa-list-ul"></i>
<i class="fas fa-search"></i>
<i class="fas fa-trash-alt"></i>
<i class="fas fa-edit"></i>
<i class="fas fa-print"></i>
<i class="fas fa-pencil-alt"></i>