<template>
  <div>
    <!-- ส่วนหัว การจัดการกับเอกสาร -->
    <div class="row items-center justify-center">
      <div class="text-h4 q-mt-md">การจัดการกับเอกสาร</div>
    </div>
    <!-- เมนูค้นหา -->
    <div class="row justify-between items-center q-mt-md">
      <div class="row">
        <div class="q-ml-sm">
          <!-- เลือกสถานะ -->
          <q-select
            outlined
            color="grey-5"
            class="q-pl-sm"
            dark
            emit-value
            map-options
            style="width:180px"
            v-model="docStatus"
            :options="docStatusSelect"
            label="สถานะ"
          />
        </div>
        <!-- เลือกเดือน -->
        <div class="q-m-md">
          <q-select
            outlined
            color="grey-5"
            class="q-pl-sm"
            dark
            emit-value
            map-options
            style="width:180px"
            v-model="month"
            :options="monthSelect"
            label="เดือน"
          />
        </div>
        <!-- เลือกปี -->
        <div class="q-m-md">
          <q-select
            outlined
            color="grey-5"
            class="q-pl-sm"
            dark
            emit-value
            map-options
            style="width:180px"
            v-model="year"
            :options="yearSelect"
            label="ปี"
          />
        </div>
        <div class="q-ml-sm">
          <q-btn
            @click="loadDataLog()"
            color="secondary"
            style="width:80px;height:55px"
            label="ค้นหา"
          />
        </div>
      </div>
    </div>
    <!-- ตารางข้อมูล -->
    <div class="q-ma-md">
      <q-table dark class="text-grey-4" :data="showDataLog" :columns="columns" row-key="name">
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="docSave" :props="props">{{ props.row.docSave}}</q-td>
            <q-td key="docTime" :props="props">
              <div>{{ props.row.docTime }}</div>
            </q-td>
            <q-td key="docNumber" :props="props">
              <div>{{ props.row.docNumber }}</div>
            </q-td>
            <q-td key="docName" :props="props">
              <div>{{ props.row.docName }}</div>
            </q-td>
            <q-td key="status" :props="props">
              <div v-if=" props.row.status =='add'">เพิ่ม</div>
              <div v-if=" props.row.status =='edit'">แก้ไข</div>
              <div v-if=" props.row.status =='delete'">ลบ</div>
            </q-td>
            <q-td key="by" :props="props">
              <div>{{ props.row.by }}</div>
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </div>
  </div>
</template>

<script>
import { db } from "../router/index.js";
import { st } from "../router/index.js";
export default {
  data() {
    return {
      showDataLog: [], //แสดงข้อมูลบนตาราง
      //----------สถานะ--------------
      docStatus: "", //เก็บแฟ้มเอกสาร
      docStatusSelect: [
        { label: "ทั้งหมด", value: "0" },
        { label: "เพิ่ม", value: "add" },
        { label: "ลบ", value: "delete" },
        { label: "แก้ไข", value: "edit" }
      ], //เลือกแฟ้มเอกสาร

      //----------เดือน---------------
      month: "", //เก็บเดือน

      //-----------ปี------------------
      year: "", //เก็บปี

      //--------คอลัม ตารางข้อมูล list---------
      columns: [
        {
          name: "docSave",
          required: true,
          label: "วันที่ดำเนินการ",
          align: "left",
          style: "width:140px",
          field: row => row.name,
          format: val => `${val}`,
          sortable: true,
          sort: (a, b) => parseInt(a, 10) - parseInt(b, 10)
        },
        {
          name: "docTime",
          align: "left",
          style: "width:140px",
          label: "เวลาดำเนินการ",
          field: "docTime",
          sortable: true
        },
        {
          name: "docNumber",
          align: "left",
          style: "width:140px",
          label: "เลขที่เอกสาร",
          field: "docNumber",
          sortable: true
        },

        {
          name: "docName",
          align: "left",
          style: "width:700px",
          label: "เรื่อง",
          field: "docName",
          sortable: true
        },
        {
          name: "status",
          label: "สถานะ",
          field: "Status",
          style: "width:120px",
          align: "center"
        },
        {
          name: "by",
          label: "โดย",
          field: "by",
          style: "width:120px",
          align: "center"
        }
      ]
    };
  },
  methods: {
    //โหลดเดือนและปี
    loadmonthAndYear() {
      let month = new Date();
      let fullMonth = month.getMonth() + 1 + "/" + month.getFullYear();
      this.month = fullMonth.split("/")[0];
      this.year = fullMonth.split("/")[1];
      this.docStatus = "0";
      this.loadDataLog();
    },
    // โหลดข้อมูล log
    loadDataLog() {
      this.showDataLog = [];
      let db1 = db.collection("log");
      if (this.month != "0") {
        db1 = db1.where("docMonth", "==", this.month);
      }

      if (this.year != "0") {
        db1 = db1.where("docYear", "==", this.year);
      }
      if (this.docStatus != "0") {
        db1 = db1.where("status", "==", this.docStatus);
      }

      db1.get().then(doc => {
        doc.forEach(element => {
          let dataKey = {
            key: element.id
          };
          let dataFinal = { ...element.data(), ...dataKey };
          this.showDataLog.push(dataFinal);
          this.showDataLog.sort((a, b) => {
            return a.docSave > b.docSave ? 1 : -1;
          });
        });
      });
    }
  },
  mounted() {
    this.loadDataLog();
    this.loadmonthAndYear();
  }
};
</script>

<style lang="scss" scoped>
</style>

<i class="fas fa-users"></i>
<i class="fas fa-user-alt"></i>
<i class="fas fa-plus-circle"></i>
<i class="fas fa-list-ul"></i>
<i class="fas fa-search"></i>
<i class="fas fa-trash-alt"></i>
<i class="fas fa-edit"></i>
<i class="fas fa-print"></i>