<template>
  <div>
    <div class="row items-stretch">
      <div class="col-6" style="height:100vh">
        <img src="../statics/login.jpg" style="width:100%; height:100%" />
      </div>
      <div class="col-6 vertical-middle" style="height:100vh">
        <div class="q-pa-md" align="center" style="height:300px; margin-top: calc(50vh - 250px)">
          <div>
            <img src="../statics/logoATS.png" style="width:200px; height:200px" />
          </div>
          <div class="q-ma-md text-h4">ระบบสารบรรณอิเล็กทรอนิกส์</div>
          <div>บริษัท รักษาความปลอดภัย เอ.ที.เอส.2016 จำกัด</div>
          <div class="q-ma-md">
            <q-input
              outlined
              color="grey-5"
              class="q-pl-sm"
              dark
              style="width:400px"
              label="ชื่อผู้ใช้งาน"
              v-model="username"
            />
          </div>
          <div class="q-ma-md">
            <q-input
              outlined
              @keyup.enter="login()"
              color="grey-5"
              class="q-pl-sm"
              dark
              style="width:400px"
              label="รหัสผ่าน"
              type="password"
              v-model="password"
            />
          </div>
          <div class="q-ma-md">
            <q-btn @click="login()" color="secondary" style="width:140px" label="เข้าสู่ระบบ" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../router/index.js";
import { st } from "../router/index.js";
export default {
  data() {
    return {
      username: "",
      password: ""
    };
  },
  methods: {
    login() {
      // let dadata = [];
      db.collection("user")
        .where("username", "==", this.username)
        .where("password", "==", this.password)
        .get()
        .then(doc => {
          if (doc.size) {
            let data = { userKey: doc.docs[0].id };
            let dataFinal = { ...data, ...doc.docs[0].data() };
            // dadata.push(dataFinal);

            this.$q.localStorage.set("nameOfUser", dataFinal);
            // console.log(doc.docs[0].data().name);
            // this.userMain.name = doc.docs[0].data().name;

            this.$router.push("/document");
          } else {
            this.notifyRed("ชื่อผู้ใช้และรหัสผ่านผิด");
          }
        });
    }
  }
};
</script>

<style  scoped>
</style>