<template>
  <div>
    <!-- หัวกระดาษ -->
    <div align="center">
      <div class="row justify-between" style="width:900px">
        <div class="col-1"></div>
        <div class="q-ma-md text-h4">ผู้ใช้งาน</div>
        <div class="q-ma-md">
          <q-btn
            round
            class="cursor-pointer"
            @click="addUser()"
            color="secondary"
            icon="fas fa-plus"
          />
        </div>
      </div>
    </div>
    <!-- ตารางข้อมูล -->
    <div align="center">
      <div class="q-ma-md" style="width:900px">
        <q-table
          :pagination.sync="pagination"
          dark
          class="text-grey-4"
          :data="showData"
          :columns="columns"
          row-key="name"
        >
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td key="name" :props="props">{{ props.row.name}}</q-td>
              <q-td key="surname" :props="props">
                <div>{{ props.row.surname }}</div>
              </q-td>
              <q-td key="username" :props="props">
                <div>{{ props.row.username }}</div>
              </q-td>
              <q-td key="password" :props="props">
                <div>{{ props.row.password }}</div>
              </q-td>
              <q-td key="typeUser" :props="props">
                <div>{{ props.row.typeUser }}</div>
              </q-td>
              <q-td key="delete" :props="props">
                <div>
                  <q-icon
                    push
                    class="cursor-pointer"
                    @click="deleteUser(props.row.key)"
                    color="secondary"
                    size="1.5em"
                    name="fas fa-trash-alt"
                  />
                </div>
              </q-td>
              <q-td key="edit" :props="props">
                <div>
                  <q-icon
                    class="cursor-pointer"
                    @click="editUser(props.row.key)"
                    color="secondary"
                    size="1.5em"
                    name="fas fa-edit"
                  />
                </div>
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </div>
    </div>
    <!-- -----------Dialog--------------- -->
    <q-dialog v-model="dialogUser" persistent>
      <q-card dark style="min-width: 600px">
        <q-card-section>
          <div class="text-h4" align="center">{{labelTitle}}</div>
        </q-card-section>
        <q-card-section class="q-pa-md" align="center">
          <div>
            <q-input
              dark
              style="width:500px"
              color="grey-4"
              outlined
              label="ชื่อ"
              v-model="dataUser.name"
            />
          </div>
          <div class="q-my-md">
            <q-input
              dark
              style="width:500px"
              color="grey-4"
              outlined
              label="นามสกุล"
              v-model="dataUser.surname"
            />
          </div>
          <div class="q-my-md">
            <q-input
              dark
              style="width:500px"
              color="grey-4"
              outlined
              label="ชื่อผู้ใช้งาน"
              v-model="dataUser.username"
            />
          </div>
          <div class="q-my-md">
            <q-input
              dark
              style="width:500px"
              color="grey-4"
              outlined
              label="รหัสผ่าน"
              v-model="dataUser.password"
            />
          </div>
          <div>
            <div class="row items-center q-ml-lg text-white" align="left">
              <div class="q-px-sm">ประเภทผู้ใช้งาน :</div>
              <div class="q-gutter-sm">
                <q-radio
                  dark
                  color="secondary"
                  v-model="dataUser.typeUser"
                  val="user"
                  label="User"
                />
                <q-radio
                  dark
                  color="secondary"
                  v-model="dataUser.typeUser"
                  val="admin"
                  label="Admin"
                />
                <q-radio
                  dark
                  color="secondary"
                  v-model="dataUser.typeUser"
                  val="SuperAdmin"
                  label="Super Admin"
                />
              </div>
            </div>
          </div>
        </q-card-section>
        <q-card-actions align="center" class="q-pb-md">
          <!-- ยกเลิกการเพิ่มผู้ใช้ -->
          <q-btn
            class="q-mr-md"
            style="width:140px"
            size="16px"
            color="grey-4"
            text-color="black"
            label="ยกเลิก"
            v-close-popup
          />
          <!-- บันทึกผู้ใช้ใหม่ -->
          <q-btn
            class="q-ml-md"
            @click="saveBtn()"
            style="width:140px"
            size="16px"
            color="secondary"
            text-color="white"
            label="บันทึก"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { db } from "../router/index.js";
export default {
  data() {
    return {
      pagination: {
        rowsPerPage: 0 //จำนวนหน้าสำหรับคำศัพท์เสริม
      },
      editMode: false,
      editKey: "",
      dialogUser: false,
      showData: [],
      labelTitle: "เพิ่มผู้ใช้งาน", // Title หัวกระดาษ
      // v-model เพิ่มผู้ใช้งาน
      dataUser: {
        name: "",
        surname: "",
        username: "",
        password: "",
        typeUser: "user"
      },
      userTypeLocal: this.$q.localStorage.getItem("nameOfUser").typeUser,
      disableSuperAdmin: "SuperAdmin",
      columns: [
        {
          name: "name",
          required: true,
          label: "ชื่อ",
          align: "center",
          field: row => row.name,
          format: val => `${val}`
        },
        {
          name: "surname",
          align: "left",
          label: "นามสกุล",
          field: "surname"
        },
        {
          name: "username",
          align: "left",
          label: "ชื่อผู้ใช้งาน",
          field: "username"
        },
        {
          name: "password",
          align: "left",
          label: "รหัสผ่าน",
          field: "password"
        },
        {
          name: "typeUser",
          label: "ประเภทผู้ใช้งาน",
          field: "typeUser",
          style: "width:100px",
          align: "center",
          sortable: true
        },
        {
          name: "delete",
          label: "ลบ",
          field: "delete",
          style: "width:100px",
          align: "center"
        },
        {
          name: "edit",
          label: "แก้ไข",
          field: "edit",
          style: "width:100px",
          align: "center"
        }
      ]
    };
  },
  methods: {
    backMain() {
      this.$router.push("/document");
    },
    // -----------หน้าผู้ใช้งาน---------------
    // เพิ่มผู้ใช้งาน
    addUser() {
      this.editMode = false;
      this.labelTitle = "เพิ่มผู้ใช้งาน";
      this.dialogUser = true;
    },
    // ลบผู้ใ้ช้งาน
    deleteUser(key) {
      this.$q
        .dialog({
          title: "คุณต้องการลบข้อมูลนี้ใช่หรือไม่",
          dark: true,
          cancel: "ยกเลิก",
          ok: "ตกลง"
        })
        .onOk(() => {
          db.collection("user")
            .doc(key)
            .delete()
            .then(() => {
              this.notifyGreen("ลบข้อมูลเรียบร้อยแล้ว");
              this.loadDataUser();
            });
        });
    },
    // แก้ไขผู้ใช้งาน
    editUser(key) {
      this.editMode = true;
      this.editKey = key;
      this.loadDataUserEdit();
      this.dialogUser = true;
      this.labelTitle = "แก้ไขผู้ใช้งาน";
    },
    // --------หน้าเพิ่มผู้ใช้งาน---------------
    saveBtn() {
      this.loadingShow();
      if (this.editMode == false) {
        db.collection("user")
          .add(this.dataUser)
          .then(() => {
            this.notifyGreen("บันทึกข้อมูลเรียบร้อย");
            this.dialogUser = false;
            this.loadDataUser();
            this.loadingHide();
          });
      } else {
        db.collection("user")
          .doc(this.editKey)
          .set(this.dataUser)
          .then(() => {
            this.notifyGreen("บันทึกข้อมูลเรียบร้อย");
            this.dialogUser = false;
            this.loadDataUser();
            this.loadingHide();
          });
      }
    },
    // โหลดข้อมูลตางรางหลัก
    loadDataUser() {
      this.showData = [];
      db.collection("user")
        .get()
        .then(doc => {
          doc.forEach(element => {
            let dataKey = { key: element.id };
            let dataFinal = { ...element.data(), ...dataKey };
            this.showData.push(dataFinal);
            this.showData.sort((a, b) => {
              return a.name > b.name ? 1 : -1;
            });
          });
        });
    },
    // โหลดข้อมูลแก้ไข
    loadDataUserEdit() {
      db.collection("user")
        .doc(this.editKey)
        .get()
        .then(data => {
          this.dataUser = data.data();
        });
    }
  },
  mounted() {
    this.loadDataUser();
    console.log(this.userTypeLocal);
  }
};
</script>

<style lang="scss" scoped>
</style>