/* app global css */
@font-face {
  font-family: Prompt-Regular;
  src: url('../statics/fonts/Prompt-Regular.ttf');
}

@font-face {
  font-family: Prompt-Bold;
  src: url('../statics/fonts/Prompt-Bold.ttf');
}
body{
    background-color: rgb(20, 20, 20);
    font-size: 18px;
    font-family: Prompt-Regular;
    color: white;
    
}
.brx{
    border: solid 1px red;
}
.bgg{
  background-color: #000000;
}
.tcg{
  color: #9E9E9E;
}
.outline-pink{
  border: 1px solid #FF3D00;
  border-radius: 8px;
}

