<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar class="bgg q-py-sm">
        <div class="row cursor-pointer items-center">
          <q-avatar @click="documentPage()" size="2.5em">
            <img src="../statics/icons/apple-icon-180x180.png" />
          </q-avatar>
          <div class="q-ml-md text-h5 tcw" @click="documentPage()">ระบบสารบัญอิเล็กทรอนิกส์</div>
        </div>

        <q-space></q-space>
        <div>
          <q-btn
            v-if="userData.typeUser != 'user'"
            round
            class="cursor-pointer"
            @click="list()"
            color="secondary"
            push
            icon="fas fa-list-ul"
          />
        </div>
        <div :class="userData.typeUser == 'SuperAdmin'?'q-px-md':'q-px-sm'">
          <q-btn
            v-if="userData.typeUser == 'SuperAdmin'"
            round
            class="cursor-pointer"
            @click="editUser()"
            color="secondary"
            push
            icon="fas fa-users"
          />
        </div>
        <q-btn round class="cursor-pointer" color="secondary" push icon="fas fa-user-alt">
          <!-- menuProfile -->
          <q-menu persistent dark>
            <div class="row no-wrap q-pa-md justify-center" style="width:250px">
              <div class="column">
                <div class="column items-center">
                  <q-avatar size="55px" icon="fas fa-user-alt" />

                  <!-- ชื่อ-นามสกุลผู้ใช้ -->
                  <div class="q-ma-sm">{{userData.name}} {{userData.surname}}</div>
                  <!-- ประเภทผู้ใช้ -->
                  <div>{{userData.typeUser}}</div>
                  <!-- ปุ่มแก้ไข -->
                  <div class="q-my-md">
                    <q-btn
                      @click="editProfile()"
                      style="width:100px"
                      color="secondary"
                      label="แก้ไขรหัสผ่าน"
                      push
                      size="12px"
                    ></q-btn>
                  </div>
                  <!-- ปุ่ม Logout -->
                  <div>
                    <q-btn
                      @click="logout()"
                      style="width:100px"
                      color="secondary"
                      label="ออกจากระบบ"
                      push
                      size="12px"
                    />
                  </div>
                </div>
              </div>
            </div>
          </q-menu>
        </q-btn>
      </q-toolbar>
      <!-- -------Dialog--------- -->
      <q-dialog v-model="profile" persistent>
        <q-card dark style="min-width: 450px">
          <q-card-section>
            <div align="center">
              <div class="text-h5 q-ma-md">แก้ไขรหัสผ่าน</div>
              <div class="q-ma-md">
                <q-input
                  dark
                  label="รหัสผ่านเก่า"
                  v-model="oldPassword"
                  style="width:350px"
                  color="grey-4"
                  outlined
                />
              </div>
              <div class="q-ma-md">
                <q-input
                  dark
                  label="รหัสผ่านใหม่"
                  v-model="newPassword"
                  style="width:350px"
                  color="grey-4"
                  outlined
                />
              </div>
              <div class>
                <q-input
                  dark
                  v-model="conNewPassword"
                  label="ยืนยันรหัสผ่านใหม่"
                  style="width:350px"
                  color="grey-4"
                  outlined
                />
              </div>
            </div>
          </q-card-section>
          <q-card-actions align="center" class="q-mb-md">
            <q-btn
              class="q-mx-md"
              dark
              label="ยกเลิก"
              color="grey-4"
              text-color="black"
              style="width:140px"
              size="16px"
              v-close-popup
            />
            <q-btn
              class="q-mx-md"
              @click="saveEditProfile()"
              dark
              label="บันทึก"
              color="secondary"
              style="width:140px"
              size="16px"
            />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { db } from "../router/index.js";
import { st } from "../router/index.js";
export default {
  name: "MyLayout",
  data() {
    return {
      oldPassword: "",
      newPassword: "",
      conNewPassword: "",

      userData: {},
      leftDrawerOpen: false,

      profile: false,
    };
  },
  methods: {
    documentPage() {
      this.$router.push("/document");
    },
    list() {
      this.$router.push("/list");
    },
    editUser() {
      this.$router.push("/user");
    },
    editProfile() {
      this.profile = true;
    },
    saveEditProfile() {
      if (this.oldPassword !== this.userData.password) {
        this.notifyRed("รหัสผ่านเก่าไม่ถูกต้อง");
        return;
      }
      if (this.newPassword !== this.conNewPassword) {
        this.notifyRed("ยืนยันรหัสผ่านใหม่ให้ถูกต้อง");
        return;
      } else {
        db.collection("user")
          .doc(this.userData.userKey)
          .update({ password: this.newPassword })
          .then(() => {
            this.userData.password = this.conNewPassword;
            this.$q.localStorage.remove("nameOfUser");
            this.$q.localStorage.set("nameOfUser", this.userData);
            this.notifyGreen("บันทึกข้อมูลเรียบร้อย");
            this.dialogUser = false;
            this.loadingHide();
          });
      }
      this.profile = false;
    },
    logout() {
      this.$q.localStorage.remove("nameOfUser");
      this.$router.push("/");
    },
  },
  mounted() {
    if (this.$q.localStorage.getItem("nameOfUser") == null) {
      this.$router.push("/");
    } else {
      this.userData = this.$q.localStorage.getItem("nameOfUser");
    }
  },
};
</script>
